*{
    font-family: sans-serif;

}

/* for total balance outer div   */
.all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-gap{
    gap: 1.5rem;
}
.btn:hover {
    background-color: #1d4ed8; 
}

/* all border  */
.b-rounded{
    border-radius: 0.5rem;
}
/* display section  */
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    flex-direction: row;
}

/* for logo  */
.custom-size {
    width: 2rem;
    height: 2rem;
    margin-right: 0px;
}

/* for search  */
.custom-placeholder::placeholder {
    color: #6b7280; 
}
.custom-placeholder:focus::placeholder {
    color: #9ca3af; 
} 

/* for  input  */
.text-custom-gray {
    color: #374151;
}
.custom-border-color {
    border-color: #d1d5db; 
}

/* table   */
.custom-overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}
.table tbody tr {
    border-bottom: 1px solid #e5e7eb; 
    text-align: center;
}
.table{
    margin-bottom: 0px !important;
}
.cursor-pointer{
    cursor: pointer;
}
.income {
    color: #16a34a;
}
.expense {
    color: #dc2626;
}

.table-bg-clr {
    background: #d1d5db;
}

/* progress bar  */
.custom-progress-bar {
    width: 100%; 
    background-color: #e2e8f0; 
    border-radius: 9999px; 
    height: 0.625rem; 
    margin-bottom: 0.5rem; 
}
.progress-custom-style {
    height: 0.625rem; 
    border-radius: 9999px; 
    transition: all 0.3s; 
}
.flex-box{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    gap: 24px; /* Spacing between items */
}

  
.flex-item {
   
    flex: 1 1 100%; 
    /* Default: Full width  very important */  
}


th {
    position: relative; /* Allows positioning the arrow relative to the text */
    text-align: left; /* Optional, to align text and arrow neatly */
    padding-left: 20px; /*for the arrow to appear without overlapping the text*/
    /* flex-direction: row; */
    /* text-align: center; */
    /* overflow: hidden; */
}
th div {
  justify-content: center;
}  
th::before {
    content: ''; /* Default: no arrow */
    position: absolute;
    color: black;
    font-size: 18px; /* Increase the size of the arrow */
    font-weight: 800;
    line-height: 1; /*Ensure the arrow stays vertically aligned */
    left: 9px; /* Adjust to set space between the arrow and the left edge */
}
  
th.ascending::before {
    content: '↑'; /* Arrow pointing up */
}
  
th.descending::before {
    content: '↓'; /* Arrow pointing down */
}
.no-budget-message {
    text-align: center;
    font-size: 16px;
    color: #6c757d;
    margin-top: 20px;
}
.del-b-btn{
    border-radius: 50%;
    border: none;
    color: black;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 7px;
    cursor: pointer;
    /* padding: 0px; */
    height: auto;
}
.del-t-btn{
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: auto ;
    padding: auto;
    width: 100%;
    /* margin-top: -5px; */
    height: auto;
    /* z-index: 0; */
}




@media (max-width: 767px) {


    .flex{
        flex-wrap: wrap;
        flex-direction: column;

    }
    .width{
        width: 100%;
    }
    
}

@media (min-width: 1024px) { /* lg breakpoint: 1024px */
    
    .flex-item {
      flex: 1 1 calc(33.33% - 24px); /* Three columns with gap */
    }
  
    .large-span {
      flex: 1 1 calc(66.66% - 24px); /* Takes two-thirds of the width */
    }
}