* {
    font-family: sans-serif;

}

.chart-container {
    background-color: #1f2937;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* margin-top: 30px; */
    width: 100%;
    /* margin: 0px; */
}

.pie-chart {
    position: relative;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 15px;
}

.legend-color {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 3px;
}

.tooltip-box {
    position: absolute;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    display: none;
}

.h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;

}

.custom-padding {
    padding: 1.5rem;
}

.bar-chart {
    position: relative;
    width: 100%;
    max-width: auto;
    max-height: 300px;
    margin: 0 auto;
}

.month {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-family: sans-serif;
    /* font-weight: 500; */
    font-size: 16px;
    margin-bottom: 30px;

}

.month span {
    width: 165px;
}

#barChart {
    padding-right: 55px;
}

.barBtn {
    font-size: 14px;
    padding: 6px 12px;
}

@media (max-width: 576px){
    .select-month{
        font-size: 14px;
        padding: 5px !important;
       
    }
    .month span {
        width: 44% !important;
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {

    .sm-all-btn {
        font-size: 14px !important;
        padding: 3px 6px;

    }
    .all-pdf-img{
        width: 18px;
        height: 18px;
       

    }
    .sm-btn {
        font-size: 12px;
        margin: 4px;
        padding: 2px 4px !important;

    }
    embed{
        width: 18px;
        height: 18px;
    }
    .h2{
        margin-top: 2px;
    }
    h1{
        font-size: 18px;
    }
    .chart-heading{
        font-size: 16px;
    }
    .reports-content{
        padding: 4px;
      
    }
    .all-chart{
        padding: 5px !important;
    }
    .custom-padding{
        padding: 5px !important;
    }
    .heading{
        margin-top: 8px;
    }
    .chart-container{
        padding: 5px  !important;
    }
    .all-container{
        padding: 3px !important;
    }
    .month{
        padding: 0px !important;
        margin: 4px !important;
    }
    .select-month{
        font-size: 14px;
        padding: 5px !important;
       
    }
    .month span {
        width: 20%;
        margin-bottom: 10px;
    }
    #barChart {
        padding-right: 15px;
        height: 250px;
        margin-left: -12px !important;
        margin-right: 0px !important;
        
       
    }
}
