*{
    font-family: sans-serif;

}
.chart-container {
    background-color: #1f2937;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* margin-top: 30px; */
    width: 100%;
    /* margin: 0px; */
}

.pie-chart {
    position: relative;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 15px;
}

.legend-color {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 3px;
}

.tooltip-box {
    position: absolute;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    display: none;
}
.h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
    
}
.custom-padding{
    padding: 1.5rem;
}
.bar-chart {
    position: relative;
    width: 100%;
    max-width: auto ;
    max-height: 300px;
    margin: 0 auto;
}
.month {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-family: sans-serif;
    /* font-weight: 500; */
    font-size: 16px;
    margin-bottom: 30px;
   
}
.month span{
    width: 165px;
}
#barChart{
    padding-right: 55px;
}
.barBtn{
    font-size: 14px;
    padding: 6px 12px ;
}