.alert{
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold ;
  }
  
  .popup-alert {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d; /* Red color */
    color: white;
    padding: 10px 30px;
    border-radius: 0.375rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: normal;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .popup-alert.show {
    display: block;
    opacity: 1;
  }
  
  .reset{
    color: #0095f6;
    font-weight: bold ;
    
  }
  h1{
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    /* margin-bottom: 35px; */
  }
  
  .main{
    background: linear-gradient(to bottom, #ebf8ff, #ffffff); /* Equivalent to Tailwind's blue-50 to white */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
  background: white !important;
  width: 550px;
  }

  /*----------------- OR ----------------- */
  
  .or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    /* width: 370px;
    margin-left: 42px; exect center by measure  */

  }
    
   /* use before after for line  */
  .or-divider::before,  
  .or-divider::after {  
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
  }

  .or-divider span {
    color: #8c8c8c; /* Light gray text color */
    font-size: 14px; /* Adjust as needed */
    font-weight: bold;

  }
  .last{
    position: relative;
    bottom: 0px;
    background-color: #f0efef;
    border: 1px solid #dbdbdb;
  }
  .Create{
    text-align: center;
    /* margin-top: 60px; */
    color: #00376b;
    font-weight: 400;
    font-size: 14px;
  }







  /* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .popup-alert {
    font-size: 14px;
    padding: 8px 20px;
  }

  .or-divider span {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 24px;
  }

  .main {
    background: none; /* No background for smaller screens */
    height: auto; /* Adjust height to fit content */
  }

  .content {
    padding: 0px !important;
    box-shadow: none; /* Optional: Remove shadow for simpler design */
    margin: 0px !important;
    border: none !important;
    margin-top: 10px !important ;
    
  }
  .form{
    padding: 45px !important;
  }

  .popup-alert {
    font-size: 12px;
    padding: 5px 15px;
  }

  .or-divider span {
    font-size: 10px;
  }
}