*{
    font-family: sans-serif;

}
/* all border  */
.b-rounded{
    border-radius: 0.5rem;
}
h1{
    font-weight: 700;
}
h2{
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600;
    
}

.content-after{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}